<div class="modal fade" id="itemDetailModal" tabindex="-1" role="dialog" aria-labelledby="itemDetailModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row col-12">
          {{input class="form-control col-9" value=item.title placeholder="Add a title"}}
          <div class="row justify-content-end col-3">
            {{fa-icon "floppy-o" class="text-muted icon-hover" size=2 click=(action "closeModal" item)}}
            {{fa-icon "trash-o" class="text-muted icon-hover" size=2 click=(action "deleteItem" item)}}
          </div>
        </div>
      </div>
      <div class="modal-body">
        {{textarea class="form-control" value=item.detail rows="6" placeholder="Add a description"}}
      </div>
    </div>
  </div>
</div>
