<div class="pageTitle">
  <h1 class="ember-title text-center">Tiny Trello</h1>
</div>

<div class="lists">
  {{#each lists as |list|}}
    {{trello-list
      list=list
      addItem=(action "addItem")
      editItem=(action "editItem")}}
  {{/each}}
  <h3><button class="btn btn-secondary pull-right" {{action "addList"}}>Add a List</button></h3>
</div>
{{outlet}}
